AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'false'
ColumnLimit: '180'
CompactNamespaces: 'true'
ContinuationIndentWidth: '4'
FixNamespaceComments: 'true'
IndentWidth: '4'
Language: Cpp
NamespaceIndentation: All
SortIncludes: 'true'
ShortNamespaceLines: 0
SpaceAfterCStyleCast: 'true'
TabWidth: '4'
UseTab: Never
PointerAlignment: 'Left'
